[Unit]
Description=$name;format="cap"$

[Service]
User=$stack_name_prefix$
Group=$stack_name_prefix$
Restart=no
Environment='HOME=/home/$stack_name_prefix$'
Environment='JAVA_OPTS=-Xmx512m -Xms512m -XX:+UseConcMarkSweepGC -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:/home/$stack_name_prefix$/logs/gc.log -XX:ReservedCodeCacheSize=256m'
WorkingDirectory=/home/$stack_name_prefix$
ExecStart=/home/$stack_name_prefix$/$name$/bin/$name$

[Install]
WantedBy=multi-user.target